h1 {
    font-size: 3rem;
    margin: 10px;
    text-align: center;
}

.tic-tac-toe-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 600px;
    height: 600px;
    background-color: #cfcfcf;
    margin: 20px auto;
    gap: 2px;
}

.square {
    font-family: sans-serif;
    background-color: #555;
    text-align: center;
    font-size: 10rem;
    color: #fff;
    padding: 15px;
    cursor: default;
}